@CHARSET "UTF-8";

.clear{clear: both;}
#main_img{width: 971px; height: 308px;
background-image:url("../images/img_back.png");
background-repeat: no-repeat;
background-position: center top;}
/*너비 971px 높이 308px 
배경이미지 img_back.png 반복 no 위치 가운데 위*/
#main_img img{margin: 9px 0 0 0}/*밖여백 9px 0 0 0*/

article#front{margin: 5px 0px 5px 0px}
/*밖여백 5px 0 5px 0*/
#solution{border: solid 1px #FFFFFF;
border-radius:10px ; width: 910px; min-height: 150px;
background-color: #ebebeb; padding: 10px;
margin: 0 0 0 20px}
/*테두리 solid 1px #FFFFFF 둥글게 10px 너비 910px
최소높이 150px 배경색 #ebebeb 안여백 10px 
밖여백 0 0 0 20px */
#hosting,#security,#payment{width: 30%; float: left;
padding: 10px}
/*너비 30% 정렬 왼쪽 안여백 10px*/
@font-face{font-family: "seo";
src: url("../images/segoeui.eot");
src: local(""),
     url("../images/segoeui.woff")format("woff"),
     url("../images/segoeui.ttf")format("truetype");}
#hosting h3,#security h3,#payment h3{font-family: seo;
font-size: 14px;font-weight: 600;color: #333;
margin: 0 0 10px 80px}     
     /*#hosting h3태그,.. 글자체 seo 글자크기 14px
     글자굵기 600 글자색 #333 밖여백 0 0 10px 80px */
     /*hosting p태그, ... 글자체 seo 글자크기 12px
     글자색 #333 밖여백 0 0 0px 80px */
#hosting p,#security p,#payment p{font-family: seo;
font-size: 12px;color: #333; margin: 0 0 0px 80px}      
     /*#hosting 배경이미지 icon1.png no-repeat 
      위치  left 15px*/
     /*#security 배경이미지 icon2.png no-repeat 
      위치  left 15px*/
     /*#payment 배경이미지 icon3.png no-repeat 
      위치  left 15px*/
#hosting{background-image: url("../images/icon1.png");
background-repeat: no-repeat;
background-position: left 15px;}
#security{background-image: url("../images/icon2.png");
background-repeat: no-repeat;
background-position: left 15px;}
#payment{background-image: url("../images/icon3.png");
background-repeat: no-repeat;
background-position: left 15px;}

#sec_news,#news_notice{float: left; width: 420px;
margin: 15px 0 0 20px}
/*정렬 왼쪽 너비 420px 밖여백 15px 0 0 20px */
#sec_news h3,#news_notice h3{font-family: seo;
font-size: 14px;font-style: italic;font-weight: normal;
width: 420px;height: 24px;
background-image: url("../images/h3_back.jpg");
background-repeat: no-repeat;padding: 5px 0 0 22px;}
/*글자체 seo 크기 14px
스타일 italic 굵기 normal 너비 420px 높이 24px
배경이미지h3_back.jpg 반복no-repeat 안여백 5px 0 0 22px*/
#sec_news .orange{color: #f26522}/*글자색 #f26522*/
#news_notice .brown{color: #827b00}/*글자색 #827b00*/
#sec_news dl{margin-left: 6px}/*밖왼쪽여백 6px*/
#sec_news dt{font-family: "Times New roman";
font-size: 16px; margin: 5px 0; color: #F00}
/*글자체 Times New roman 글자크기 16px
 밖여백 5px 0 글자색 #F00*/
#sec_news dd{margin-left: 0;color: #333;}
/*밖왼쪽 여백 0 글자색 #333*/
#news_notice table{width: 400px;
border-collapse: collapse; text-align: center;}
/*너비 400px 여백없애기 글자정렬 가운데*/
#news_notice td{padding: 6px 4px;
border-bottom-width: 1px; border-bottom-style: dotted;
border-bottom-color: #999}
/*안여백 6px 4px 
테두리아래너비 1px 테두리아래스타일 dotted
테두리아래색 #999 */
#news_notice td.contxt{
	background-image: url("../images/tr_back.gif");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px; text-align: left;color: #333}
/*배경이미지 tr_back.gif
반복 no repeat 위치 left center 안왼쪽여백 15px
글자정렬 왼쪽 글자색 #333*/
#news_notice a{color: #333;text-decoration: none;}
/*글자색 #333 밑줄 없음*/
#news_notice a:hover{color: #F90;
text-decoration: none;}/*글자색 #F90 밑줄 none*/



